__pycache__/
*.py[cod]

# Distribution / packaging
*.egg
*.egg-info
dist
eggs
parts
develop-eggs
.installed.cfg

# Unit test / coverage reports
.coverage*
coverage*
htmlcov
report.xml
.mypy_cache
.pytest_cache
